*.cfg
/cache/
/resources/\[local\]/
/db/

# END OF ORIGINAL IGNORE FILE
core

!*.cfg
server.cfg
.replxx_history

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
