[submodule "resources/[utopia]/u-flappy-psychiko-loadscreen"]
	path = resources/[utopia]/u-flappy-psychiko-loadscreen
	url = git@github.com:showmen-media/Utopia-FlappyPsychikoLoadscreen.git
[submodule "resources/[utopia]/fxrpc-server"]
	path = resources/[utopia]/fxrpc-server
	url = git@github.com:showmen-media/fxrpc-server.git
[submodule "resources/[utopia]/u-qb-devices"]
	path = resources/[utopia]/u-qb-devices
	url = git@github.com:showmen-media/utopia-qb-devices.git
[submodule "resources/[utopia]/u-lago-zancudo"]
	path = resources/[utopia]/u-lago-zancudo
	url = git@github.com:showmen-media/utopia-lago-zancudo.git
