# Database
ensure oxmysql

# Audio
ensure pma-voice

# qbcore
ensure progressbar
ensure PolyZone
ensure qb-core
ensure qb-target
ensure qb-smallresources
ensure qb-weapons
ensure qb-inventory
ensure qb-clothing
ensure qb-weathersync
ensure qb-multicharacter
ensure qb-spawn
# ensure qb-apartments
ensure qb-fuel
ensure qb-hud
#
ensure qb-anticheat
ensure menuv
ensure qb-adminmenu
ensure qb-menu
ensure qb-input
ensure qb-mechanicjob

ensure qb-newsjob

# Misc
# dynamic-npcs is intended to work with esx
ensure dynamic-npcs
ensure connectqueue
ensure kael-npctaxi

ensure fxrpc-server
ensure u-misc-adjustments
ensure u-flappy-psychiko-loadscreen
ensure u-qb-devices
